.dashboard {
    /*height: 500px;*/
    height: 100%;
    /*border: 1px solid black;*/
    /*margin: 2px;*/
    transition: height 1000ms ease;
}

.dashboard h1 {
    font-size: 32px;
}

.hidden-dash {
    height: 0;
}

.wagerListContainer {
    /*border: 1px solid black;*/
    /*margin: 2px;*/
    /*background-color: rgb(227, 221, 221);*/
}

.wagerListContainer h2 {
    font-size: 26px;
}

.wagerMetricsContainer {
    /*border: 1px solid black;*/
    /*margin: 2px;*/
    /*background-color: rgb(227, 221, 221);*/
}