.gameListContainer {
    /*display: flex;*/
    /*justify-content: space-around;*/
}

.gameListColumn {
    /*width: 30%;*/
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
}

.gameList {
    margin: 2px;
    padding: 2px;
    list-style: none;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.gameList li {
    position: relative;
    font-size: 16px;
    /*border-bottom: 1px solid #ededed;*/
    /*width: calc(100% / 3);*/
    border: 1px solid black;
    margin: 2px;
}

.gameList li:last-child {
    /*border-bottom: none;*/
}

.gameList li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 5px 5px 5px 5px;
    /*margin-left: 10px;*/
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    transition: color 0.4s;
}
