.wagerItemHeader {
    border: 1px solid black;
    margin: 2px;
}

.wagerItemHeaderRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wagerItemHeader .destroy {
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    margin: 2px;
}

.wagerItemHeader .destroy:hover {
    color: #af5b5e;
}

.wagerItemHeader .destroy:after {
    content: '×';
}

.betItem {
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px 2px 2px 16px;
}

.winner {
    background-color: rgb(229, 247, 229);
}

.loser {
    background-color: rgb(247, 229, 229);
}

.push {
    background-color: rgb(232, 232, 232);
}