.wagerFormContainer {
    border: 1px solid black;
    margin: 2px;
}

.wagerFormHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.destroy {
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    margin: 2px;
}

.destroy:hover {
    color: #af5b5e;
}

.destroy:after {
    content: '↑';
}

.wagerFormBody {
    display: flex;
    margin: 5px;
}

.wagerFormColumn {
    text-align: center;
    margin-right: 5px;
}

.wagerFormColumn:last-child {
    margin-right: 0;
}

.wagerFormColumn input {
    max-width: 70px;
    text-align: center;
}

.wagerFormColumn select {
    width: 100%;
}

.wagerFormFooter {
    margin-bottom: 5px;
}

