.wagerItemHeader {
    border: 1px solid black;
    margin: 2px;
}

.wagerItemHeaderRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wagerItemHeader .destroy {
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    margin: 2px;
}

.wagerItemHeader .destroy:hover {
    color: #af5b5e;
}

.wagerItemHeader .destroy:after {
    content: '×';
}