.wagerList {
    margin: 2px;
    padding: 0;
    list-style: none;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.wagerListColumn {
    border: 1px solid black;
    margin: 2px;
    width: 100%;
}

.wagerListColumn h2 {
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
}

.noWagers {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wagerList li {
    position: relative;
    font-size: 16px;
    /*border-bottom: 1px solid #ededed;*/
    border: 1px solid black;
    margin: 2px;
}

.wagerList li:last-child {
    /*border-bottom: none;*/
}

.wagerList li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 5px 5px 5px 5px;
    /*margin-left: 45px;*/
    display: flex;
    justify-content: space-around;
    line-height: 1.2;
    transition: color 0.4s;
    text-align: left;
}

.wagerItemColumn {
    display: flex;
    justify-content: space-around;
}